*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    font-family: 'Lora', serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto Slab', serif;

}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Inter:wght@300&family=Lora:ital,wght@1,600&family=Poppins&family=Roboto+Slab:wght@600&display=swap');


button{
    margin:0;
    padding:0;
    font-style: none;
    
}


.navbar{
    color: #88DF95;
    display: flex;
    justify-content: space-between;
    background-color: #01252C;
    padding: .5rem;
    border-radius: .5rem;
    margin: .25rem;
    border: 2px solid white;
}

.fa-location-dot{
    color: crimson;
}

.logo img{
    height: 2rem;
}

.text{
    font-size: 2rem;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.head{
    font-size: 1.75rem;
    background-color: #01252C;
    color: white;
    padding: 1.5rem;
}

@media screen and (min-width: 600px) {
    .head{
        margin: .5rem;
        border-radius: 1rem;
        border: 2px solid white;
    }
}


