{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBikeStore</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        {% include  'navbar.html' %}
        {% include 'carousel.html' %}
        <div class="head">
            <h3>Electric Bikes in India : </h3>
        </div>
        <div class="list">
            {% include 'bikecard.html' %}
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/b53972c862.js" crossorigin="anonymous"></script>
</html>